.business_page{
    padding-top: 70px;
    
}

.page_banner{
    background:url(../images/businesspgaebanner01.jpg) top no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.page_word{
    padding-top: 200px;
    text-align: center;
}

.business_header{
    background-color: #000;
    padding-bottom: 70px;
}

.header_content{
    margin: 0 auto;
    max-width: 1140px;
}

.header_word{
    padding: 70px 0 40px;
    text-align: center;
}

.header_text{
    color: #fff;
    line-height: 2;
    letter-spacing: 0.5px;
}

.business_model{
    width: 100%;
    height: 800px;
    background: url(../images/businessmodelbanner.png) 50% no-repeat;
    background-size: cover;
    position: relative;
}

.business_model img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
}

.businesss_trength{
    background: #f0f0f0;
    padding-bottom: 120px;
}

.strength{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.strength_title{
    padding-bottom: 70px;
    text-align: center;
}

.strength_title img{
    padding: 70px 0 40px;
}

.strength_content_step_message{
    width: 50%;
    height: 265px;
    background: #1d3041;
    padding: 0 50px;
    color: #fff;
    text-align: center;

}

.strength_content_step_message img{
    margin: 45px auto 30px;
}

.strength_content_step_message_text{
    font-size: 13px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: justify;
}

.strength_content_step_img{
    background:#fff;
    text-align: center;
    padding-top: 20px;
    width: 50%;
    height: 265px;
}

.strength_content_step_img img{
    max-width: 100%;
}

.business_sup_page_area{
    background: url(../images/businesssuppgaebanner01.jpg) no-repeat 50%;
    background-size: cover;
    padding: 10px 0;
}

.business_sup_page_content{
    background: rgba(0, 0, 0, .6);
    padding: 40px 0;
    color: #fff;
    text-align: center;
}

.business_sup_page_title{
    margin-bottom: 40px;
}


.business_sup_page_title span{
    display: block;
}

.business_sup_pagelink a{
    text-decoration: none !important;
    border-bottom: none !important;
    color: inherit !important;
    display: inline-block
}

.business_sup_pagelink div{
    width: 180px;
    height: 180px;
    border: 3px solid#fff;
    display: inline-block;
    margin: 0 20px;
    font-size: 0;
    text-align: center;;
    position: relative;
}

.business_sup_pagelink img{
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);
}

@media screen and (min-width:767px){
.business_model img{
    height: 75%;
}
}

@media screen and (max-width:767px){
.business_page{
    padding-top: 51px;
}

.page_banner{
    height: 400px;
}

.page_word{
    padding-top: 100px;
}

.page_word img{
    width: 75%;
}

.header_word{
    padding: 50px 0 25px;
}

.header_word img{
    width: 60%;
}

.business_header{
    padding-bottom: 50px;
}

.header_text{
    padding: 0 15px;
    font-size: 14px;
    line-height: 1.8;
}

.business_model{
    height: auto;
    max-height: 100%;
}

.business_model img{
    position: relative;
    top: 0;
    left: 0;
    transform: none;
}

.strength_title img{
    width: 35%;
    padding: 50px 0 25px;
    display: block;
    margin: 0 auto;
}

.strength_text{
    font-size: 14px;
    line-height: 1.8;
    display: inline;
}

.businesss_trength{
    padding-bottom: 70px;
}

.strength_content_step{
    margin-bottom: 20px;
}

.strength_content_step_message,.strength_content_step_img{
    float: none !important;
}

.strength_content_step_message{
    background: #fff;
    width: 100%;
    height: auto;
    padding: 0 15px 30px;
    text-align: inherit;
}

.strength_content_step_message_img img{
    width: 15%;
    padding-top: 30px;
    margin: 0;
}

.strength_content_step_message_img::after{
    content: "";
    display: block;
    width: 15px;
    height: 1px;
    background:    #1d3041;
    margin: 15px 0 10px;
}

.strength_content_step_message_text{
    color: #1d3041;
    line-height: 1.8;
}

.strength_content_step_img{
    padding-top: 0;
    width: 100%;
    height: auto;
    padding: 0 15px 30px;
}

.strength_content_step_img img{
    max-width: 100%;
}

.strength_content_step_message_img02{
    width: 40% !important;
}

}
