/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------Css Reset-------------------------------- */
body{
    font-family: Microsoft JhengHei,Heiti TC,LiHei Pro,Apple LiGothic Medium;
    line-height: 1.5;
}




.indexfooter footer{
    background:#fff;
    padding: 90px 20px ;
}
.footerimg{
    text-align: center;
}

.footerimg>img{
    margin: 0 auto 30px;
}

.footerlink{
    background: url(../images/footerlinkimg.jpg);
    background-size: cover;
    width: 570px;
    line-height: 85px;
    margin: 0 auto;
}

.footerlink img{
    vertical-align: middle;
}

footer>p{
    font-size: 10px;
color:#999;
letter-spacing: 2px;
text-align: center;
padding: 40px 0;
margin: 0;
}

.top_header{
    position: sticky;
    top:0;
    background: #fff;
    height: 70px;
    width: 100%;
    overflow: hidden;
    z-index: 99999;
}


.top_header img{
    width: 140px;
}

.top_header_mobile{
    height: 100vh !important;
}

.menu{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.menu_bar_top{
    top: 13px;
    display: block;
    position: absolute;
    background:#000;
    width: 25px;
    height: 3px;
    right: 29px;
    transition: .3s ease-in-out;
}


.menu_bar_bottom{
    top: 23px;
    display: block;
    position: absolute;
    background:#000;
    width: 25px;
    height: 3px;
    right: 29px;
    transition: .3s ease-in-out;
}

.menu_text{
    position: absolute;
    right: 22px;
    bottom: 10px;
    font-size: 13px;
    color: #000;
    letter-spacing: 2px;
    font-weight: bold;
}

.menu_content_area{
    position: fixed;
    width: 100%;
    height: 100%;
    background:    rgba(0,0,0,.85);
    z-index: 10000;
    top: 0;
    left: 0;
    color:#fff;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.menu_content_dom{
    position: relative;
    width: 100%;
    height: 100%;
}

.menu_close{
    position: absolute;
    top: 17.5px;
    right: 0;
    width: 80px;
    height: 60px;
    cursor: pointer;
    z-index: 2;
}

.close_bar_top{
    transform: rotate(45deg);
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    right: 29px;
    background:#fff;
    transition: .3s ease-in-out;
}

.close_bar_bottom{
    transform: rotate(-45deg);
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    right: 29px;
    background:#fff;
    transition: .3s ease-in-out;
}

.close_text{
    position: absolute;
    bottom: 25px;
    right: 17.5px;
    font-size: 11px;
    color:#fff;
    letter-spacing: 2px;
    transition: .3s ease-in-out;
    font-weight: bold;
}

.menu_content{
    overflow-x: hidden;
    position: absolute;
    max-width: 100%;
    width: 900px;
    padding-top: 60px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.menu_content_ul{
    margin-bottom: 30px;
}

.menu_content_ul_li{
    width: calc(33.33% - 20px);
    margin: 0 10px;
    float: left;
    position: relative;
}

.menu_content_ul_li ul{
    margin-bottom: 0px;
}

.menu_content_ul_li li{
    display: block;
    color: #fff;
    width: 100%;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid hsla(0,0%,100%,.15);
    padding: 10px 0;
    transition: .15s ease-in-out;
}

.menu_content ul li ul li:first-of-type{
    font-size: 15px;
    padding: 13px 0;
    background:hsla(0,0%,100%,.05);
}

.menu_content_ul_li::before{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background:#009ea1;
}

.menu_content_ul_li ul li:hover{
    background:hsla(0,0%,100%,.1);
}
.menu_content a{
    text-decoration: none !important;
    border-bottom: none !important;
    color: inherit !important;
    display: block;
}


.totop{
    width: 100%;
    height: 110px;
    background: #1d3041;

}

.totop_word{
    width: 120px;
    height: 100%;
    background: #32485a;
    margin: 0 auto;
    position: relative;
}

.totop_link div{
    color:#fff;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);
    letter-spacing: 1px;
}

.footer_content{
    width: 100%;
}

.footer_content ul li{
    width: 33.33%;
    height: 275px;
    float: left;
    overflow: hidden;
}

.footer_content ul li a{
    text-decoration: none !important;
    border-bottom: none !important;
    color: inherit !important;
}

.footer_content_area{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    opacity: 0;
    transition: all .5s;
    
}

.footer_content_area:hover{
    opacity:1;
}

.footer_content_photo{
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.footer_content_text{
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg,transparent,rgba(0,0,0,.6));
    width: 100%;
    height: 50px;
}


.footer_content_text span{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
}

.claer_mobile{
    clear: both;
}

@media screen and (max-width:767px){
.top_header{
    height: 51px;
}

.top_header img{
    width: 100px;
}

.menu_text{
    font-size: 12px;
}

.totop{
    height: 70px;
}

.totop_word{
    width: 80px;
}

.totop_link div{
    font-size: 13px;
}

.footer_content ul li{
    width: 50%;
    height: 100px;
}

.footer_content_text span{
    font-size: 12px;
    bottom: 5px;
}

.menu_content_ul_li{
    width:calc(50% - 20px);
    margin: 5px 10px;
}

.menu_content_ul_li::before{
    content: none;
}

.menu_content_ul_li ul li{
    display: none;
}

.menu_content_ul_li ul li:first-of-type{
    display: block;
    border-bottom: none;
}

.claer_mobile{
    clear: none;
}

.menu_content{
    padding: 0 10px;
}

.menu_content_area{
    background: rgba(0,0,0,.95);
}

}

