.person_page{
    padding-top: 70px;
}

.person_page_banner{
    background: url(../images/personpagebanner.jpg) top no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;
    margin-bottom: 60px;
}

.person_page_banner img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.person_content{
    padding: 0 0 60px;
    max-width: 1140px;
    margin: 0 auto;
}

.person_content ul li{
    width: 33%;
    float: left;
    height: 376.2px;
}

.person_content a{
    text-decoration: none !important;
    border-bottom: none !important;
    color: inherit !important;
}

.person_people{
    width: 100%;
    height: 100%;
    position: relative;
}

.person_people img{
    width: 100%;
}

.people_text{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
    width: 95%;
    height: 75px;
    background: rgba(0,0,0,.8);
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
    line-height: 2;
}


@media screen and (max-width:767px){
.person_page{
    padding-top: 51px;
}

.person_page_banner{
    height: 400px;
    background-position: 32% 0;
}

.person_page_banner img{
    width: 80%;
}

.person_content ul li{
    width: 50%;
    height:auto;
}

.person_people{
    border-left: 2px solid#fff;
border-right: 2px solid#fff;
}

.person_people img{
    vertical-align: middle;
}

.people_text{
    position: relative;
    width: 100%;
    height: 100%;
    background:#000;
    text-align: left;
    padding: 10px 8px 20px;
    font-size: 11px;
}

.person_content{
    padding-bottom: 30px;
}

}