.training_page{
    padding-top: 70px;
}

.training_banner{
    background: url(../images/training/banner.jpg) top no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    margin-bottom:70px;
}

.training_banner_area{
    background:rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    position: relative;
}

.training_banner_area img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.training_head{
    margin-bottom: 70px;
}

.training_head_area{
    width: 770px;
    margin: 0 auto;
    text-align: center;
}

.training_head_title{
    margin-bottom: 40px;
}

.training_head_text{
    font-size: 15px;
    line-height: 2;
    letter-spacing: 1.1px;
    text-align: justify;
}

.training_content{
    padding: 60px 0 70px;
    background: #f6f6f6;
}

.training_content_container{
    max-width: 1110px;
    margin: 0 auto;
}

.training_content_container ul li{
    width: 31%;
    height: 480px;
    margin-top: 40px;
    margin-right: 2%;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    float: left;
}

.training_content_container img{
    width: 100%;
}

.training_content_container h4{
    font-size: 20px;
    font-weight: bold;
    padding: 0 15px;
    letter-spacing: 0.5px;
    margin: 20px 0;
}

.training_content_container_text{
    font-size: 13px;
    padding: 0 15px;
    line-height: 2;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

@media screen and (max-width:767px){
.training_page{
    padding-top: 51px;
}

.training_banner{
    height: 300px;
    margin-bottom: 50px;
}

.training_banner_area img{
    width: 70%;
}

.training_head{
    margin-bottom: 50px;
}

.training_head_area{
    max-width: 100%;
    padding: 0 15px;
}

.training_head_title img{
    width: 70%;
}

.training_head_title{
    margin-bottom: 20px;
}

.training_head_text{
    font-size: 12px;
    line-height: 1.8;
}

.training_content{
    padding: 20px 0;
}

.training_content_container{
    padding: 0 15px;
}

.training_content_container ul li{
    margin-top: 20px;
    margin-right: 0;
    width: 100%;
    height: auto;
}

}